<!doctype html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <title>find times</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="css/app.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script type="text/javascript" src="js/moment.js"></script>
  </head>

  <body>
    <div id="app">
      <nav>
        <div class="nav-wrapper teal">
          <a href="/" class="brand-logo left"><i class="material-icons">event</i>find times</a>
          <ul class="right">
            <li v-if="connected">
              <a href="" data-target="profileMenu" class="dropdown-trigger btn-floating btn-medium waves-effect waves-light teal">
                <img v-bind:src="profile.picture" alt="" class="circle responsive-img">
              </a>
              <ul id="profileMenu" class="dropdown-content">
                <li v-if="ownCalendar && ownCalendar.summary"><span class="grey-text">{{ownCalendar.summary}}</span></li>
                <li><a href="#settings" class="modal-trigger"><i class="material-icons">settings</i>Settings</a></li>
                <li><a href="" v-on:click="disconnect"><i class="material-icons">cloud_off</i>Log out</a></li>
              </ul>
            </li>
            <li v-else><a v-on:click="connect" class="waves-effect waves-light btn"><i class="material-icons right">cloud</i>Log in</a></li>
          </ul>
        </div>
      </nav>
      <div id="settings" class="modal">
        <div class="modal-content">
          <h5>Settings</h5>
          <div class="row">
            <div class="input-field col s6">
              <input type="text" id="defaultStartTime" class="timepicker" v-bind:value="defaultStartTime" placeholder="">
              <label for="defaultStartTime" class="active">Working hours start</label>
            </div>
            <div class="input-field col s6">
              <input type="text" id="defaultEndTime" class="timepicker" v-bind:value="defaultEndTime" placeholder="">
              <label for="defaultEndTime" class="active">Working hours end</label>
            </div>
            <div class="input-field col s12 m6">
              <label for="defaultWithin" class="active">Default time period</label>
              <select id="defaultWithin" v-on:change="setValueFromSelect">
                <option value="P1W" v-bind:selected="defaultWithin === 'P1W' ? 'selected' : ''">1 week</option>
                <option value="P2W" v-bind:selected="defaultWithin === 'P2W' ? 'selected' : ''">2 weeks</option>
                <option value="P3W" v-bind:selected="defaultWithin === 'P3W' ? 'selected' : ''">3 weeks</option>
                <option value="P4W" v-bind:selected="defaultWithin === 'P4W' ? 'selected' : ''">4 weeks</option>
                <option value="P1M" v-bind:selected="defaultWithin === 'P1M' ? 'selected' : ''">1 month</option>
                <option value="P2M" v-bind:selected="defaultWithin === 'P2M' ? 'selected' : ''">2 month</option>
                <option value="P3M" v-bind:selected="defaultWithin === 'P3M' ? 'selected' : ''">3 month</option>
              </select>
            </div>
            <div class="input-field col s12 m6">
              <label for="defaultLasting" class="active">Default event duration</label>
              <select id="defaultLasting" v-on:change="setValueFromSelect">
                <option value="15" v-bind:selected="defaultLasting === 15 ? 'selected' : ''">15 mins</option>
                <option value="30" v-bind:selected="defaultLasting === 30 ? 'selected' : ''">30 mins</option>
                <option value="45" v-bind:selected="defaultLasting === 45 ? 'selected' : ''">45 mins</option>
                <option value="60" v-bind:selected="defaultLasting === 60 ? 'selected' : ''">1 hour</option>
                <option value="90" v-bind:selected="defaultLasting === 90 ? 'selected' : ''">1.5 hours</option>
                <option value="120" v-bind:selected="defaultLasting === 120 ? 'selected' : ''">2 hours</option>
                <option value="150" v-bind:selected="defaultLasting === 150 ? 'selected' : ''">2.5 hours</option>
                <option value="180" v-bind:selected="defaultLasting === 180 ? 'selected' : ''">3 hours</option>
                <option value="210" v-bind:selected="defaultLasting === 210 ? 'selected' : ''">3.5 hours</option>
                <option value="240" v-bind:selected="defaultLasting === 240 ? 'selected' : ''">4 hours</option>
                <option value="270" v-bind:selected="defaultLasting === 270 ? 'selected' : ''">4.5 hours</option>
                <option value="300" v-bind:selected="defaultLasting === 300 ? 'selected' : ''">5 hours</option>
                <option value="330" v-bind:selected="defaultLasting === 330 ? 'selected' : ''">5.5 hours</option>
                <option value="360" v-bind:selected="defaultLasting === 360 ? 'selected' : ''">6 hours</option>
                <option value="390" v-bind:selected="defaultLasting === 390 ? 'selected' : ''">6.5 hours</option>
                <option value="420" v-bind:selected="defaultLasting === 420 ? 'selected' : ''">7 hours</option>
              </select>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <a href="#!" class="modal-close btn-flat">Close</a>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <section class="col s12 l5">
            <h3 class="amber-text text-darken-3">find</h3>
            <form id="searchForm" v-on:submit.prevent="refresh">
              <div class="card-panel">
                <div class="row">
                  <div class="input-field col s12 m4 l12">
                    <input type="text" id="after" class="datepicker" v-model="searchFrom" placeholder="">
                    <label for="after">After date</label>
                  </div>
                  <div class="input-field col s12 m4 l12">
                    <label for="within" class="active">Within the following</label>
                    <select id="within" v-on:change="setValueFromSelect">
                      <option value="P1W" v-bind:selected="within === 'P1W' ? 'selected' : ''">1 week</option>
                      <option value="P2W" v-bind:selected="within === 'P2W' ? 'selected' : ''">2 weeks</option>
                      <option value="P3W" v-bind:selected="within === 'P3W' ? 'selected' : ''">3 weeks</option>
                      <option value="P4W" v-bind:selected="within === 'P4W' ? 'selected' : ''">4 weeks</option>
                      <option value="P1M" v-bind:selected="within === 'P1M' ? 'selected' : ''">1 month</option>
                      <option value="P2M" v-bind:selected="within === 'P2M' ? 'selected' : ''">2 month</option>
                      <option value="P3M" v-bind:selected="within === 'P3M' ? 'selected' : ''">3 month</option>
                    </select>
                  </div>
                  <div class="input-field col s12 m4 l12">
                    <label for="lasting" class="active">Lasting</label>
                    <select id="lasting" v-on:change="setValueFromSelect">
                      <option value="15" v-bind:selected="lasting === 15 ? 'selected' : ''">15 mins</option>
                      <option value="30" v-bind:selected="lasting === 30 ? 'selected' : ''">30 mins</option>
                      <option value="45" v-bind:selected="lasting === 45 ? 'selected' : ''">45 mins</option>
                      <option value="60" v-bind:selected="lasting === 60 ? 'selected' : ''">1 hour</option>
                      <option value="90" v-bind:selected="lasting === 90 ? 'selected' : ''">1.5 hours</option>
                      <option value="120" v-bind:selected="lasting === 120 ? 'selected' : ''">2 hours</option>
                      <option value="150" v-bind:selected="lasting === 150 ? 'selected' : ''">2.5 hours</option>
                      <option value="180" v-bind:selected="lasting === 180 ? 'selected' : ''">3 hours</option>
                      <option value="210" v-bind:selected="lasting === 210 ? 'selected' : ''">3.5 hours</option>
                      <option value="240" v-bind:selected="lasting === 240 ? 'selected' : ''">4 hours</option>
                      <option value="270" v-bind:selected="lasting === 270 ? 'selected' : ''">4.5 hours</option>
                      <option value="300" v-bind:selected="lasting === 300 ? 'selected' : ''">5 hours</option>
                      <option value="330" v-bind:selected="lasting === 330 ? 'selected' : ''">5.5 hours</option>
                      <option value="360" v-bind:selected="lasting === 360 ? 'selected' : ''">6 hours</option>
                      <option value="390" v-bind:selected="lasting === 390 ? 'selected' : ''">6.5 hours</option>
                      <option value="420" v-bind:selected="lasting === 420 ? 'selected' : ''">7 hours</option>
                    </select>
                  </div>
                  <div class="input-field col s12 m12 l12">
                    <input placeholder="Meeting" id="summary" type="text" v-model.trim="newEventSummary">
                    <label for="summary">Hold for</label>
                  </div>
                  <div v-if="showMoreSearchOptions" class="col s12 l12">
                    <div class="row">
                      <div class="input-field col s12 l12">
                        <label for="invite" class="active">Invite</label>
                        <div id="invite" class="chips chips-autocomplete chips-placeholder"></div>
                      </div>
                      <div class="input-field col s6">
                        <input type="text" id="startTime" class="timepicker" v-bind:value="startTime" placeholder="">
                        <label for="startTime" class="active">Find slots after</label>
                      </div>
                      <div class="input-field col s6">
                        <input type="text" id="endTime" class="timepicker" v-bind:value="endTime" placeholder="">
                        <label for="endTime" class="active">Find slots before</label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="right-align">
                  <a v-if="showMoreSearchOptions" href="" class="btn-flat white" v-on:click.prevent="showMoreSearchOptions = false">Less</a>
                  <a v-else href="" class="btn-flat white" v-on:click.prevent="showMoreSearchOptions = true">More</a>
                  <button type="submit" class="btn btn-flat waves-effect waves-light amber"><i class="material-icons right">search</i>Search</button>
                </div>
              </div>
            </form>
          </section>

          <section id="manage" class="col s12 l7">
            <h3 class="amber-text text-darken-3">manage</h3>
            <ul v-if="holding.length > 0" class="collapsible">
              <li is="hold-listing-collapsible" v-for="h in holding" :key="h.summary" v-bind:events="h.events" v-on:updated="getHolds"></li>
            </ul>
            <div v-if="connected">
              <div v-if="showPreviousDate" class="right-align">
                <a class="btn-flat white teal-text" v-on:click.prevent="addPreviousDaysEvents">Previous day</a>
              </div>
              <ul class="collapsible expandable">
                <li is="day-expandable" v-for="date in dates" :key="date.formattedDate" v-bind:date="date" v-on:updated="getHolds"></li>
              </ul>
              <div class="right-align">
                <a class="btn-flat white teal-text" v-on:click.prevent="addNextDaysEvents">Next day</a>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </body>
  <!-- development version, includes helpful console warnings -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script async defer src="https://apis.google.com/js/api.js">
  </script>
  <script async defer type="text/javascript" src="js/app.js" onload="this.onload=function(){};handleClientLoad()" onreadystatechange="if (this.readyState === 'complete') this.onload()"></script>

</html>
